EMAIL_HOST_USER = amirhossein.khalili.supn@gmail.com
EMAIL_HOST_PASSWORD = yiodvwnlxdtptphs

# Kavenegar SMS Configuration
SMS_SERVER_API_KEY = 734F4658386B362B7747684F752F356F487A7677706E43694F346E497463424B37562B7776446A4F71416F3D
SMS_NUMBER_SENDER = 2000660110

# Firebase Cloud Messaging Configuration
FCM_SERVER_KEY = BB3M72x_h1j9A2-NIU5mfph1S7ARqIk4_BTHyjolNEImPPKvUrLF71An795hbqB70OagftsmAVIcltESdBzJX8o

SECRET_KEY = django-insecure-0f#ryse7db4hhjlew22^0-!k&q769(hyag5^fymtyb5d*97)-0

CACHE_LOCATION = redis://localhost:8006/0
CACHE_PORT=8006
DATABASE_NAME = boilerplate
DATABASE_USER = postgres
DATABASE_PASSWORD = postgres
DATABASE_HOST = localhost
DATABASE_PORT = 8005

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=django-boilerplate
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_STORAGE_BUCKET_NAME=django-boilerplate
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_S3_REGION_NAME=us-east-1
AWS_S3_USE_SSL=False

CELERY_BROKER_URL=redis://localhost:8007/0
CELERY_RESULT_BACKEND=redis://localhost:8007/0
CELERY_BROKER_PORT=8007
